/* components/TextType.css */
.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__cursor {
  margin-left: 0.1em; /* Diubah agar lebih rapat */
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}